<ion-view view-title="About" hide-back-button="true" hide-nav-bar="false">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/map.png');">
            <!--<div class="overlay"></div>-->
        </div>
        <div class="content meta double-padding">
            <h5 class="heading uppercase">about the space</h5>
            <p class="nopadding bold">Fort Work is an open-to-all coworking space located in the heart of Downtown Dallas at. Our members are a delightful cross-section of leaders in the Art, Business, and Technology communities.  We work better together, so come work alongside the community of coworkers you won't find at home or at that loud cafe across the street.</p>
            <h5 class="heading uppercase">CONNECT</h5>
            <div class="list">
              <a class="item item-icon-left" href="#">
                <i class="icon ion-location"></i>
                211 N Ervay St, 9th Floor, Dallas, TX 75201
              </a>
              <a class="item item-icon-left" href="#">
                <i class="icon ion-link"></i>
                dallasfortwork.com
              </a>
              <a class="item item-icon-left" href="#">
                <i class="icon ion-email"></i>
                oren@dallasfortwork.com
              </a>
              <a class="item item-icon-left" href="#">
                <i class="icon ion-social-twitter"></i>
                @fortwork
              </a>
              <a class="item item-icon-left" href="#">
                <i class="icon ion-social-facebook"></i>
                FortWork
              </a>
              <a class="item item-icon-left" href="#">
                <i class="icon ion-social-instagram"></i>
                @fort_work
              </a>
            </div>
            <h5 class="heading uppercase">thanks</h5>
            <p class="nopadding">A special thank you to everyone in the community involved in and supporting both Fort Work and the global coworking community.  <br><br>This app is designed, built and supported with love by <a href="http://www.belfortagency.com/">Belfort Agency.</a></p>
        </div>
    </ion-content>
</ion-view>