<ion-view view-title="Categories" align-title="left">
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="scroll-content ionic-scroll has-header">
        <ion-list>
            <ion-item class="item clear-bg item-bg-image has-mask-reverse" ng-repeat="cat in categories">
                    <a href="#/app/category/{{$index}}"><h2>{{ cat.title }}</h2>
                    <p>{{cat.description}}</p></a>
                <img src="{{cat.categoryImage.url}}" style="-webkit-transition: 0.02s; transition: 0.02s;">
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

