<ion-view view-title="Event Categories" align-title="left">
    <ion-content class="scroll-content ionic-scroll  has-header">
        <ul class="list">
            <li class="item">
            <h2>Theater</h2>
            <p>lorem ipsum description</p>
            </li>
            <li class="item">
            <h2>Music</h2>
            <p>lorem ipsum description</p>
            </li>
            <li class="item">
            <h2>Art</h2>
            <p>lorem ipsum description</p>
            </li>
        </ul>
    </ion-content>
</ion-view>