<ion-view view-title="Events @ Fort Work" align-title="left">
    <div class="bar bar-subheader">
        <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
        </label>
    </div>
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="has-header has-subheader">


        <div class="hero has-mask" style="background-image: url('{{events[0].image.url}}')">
            <div class="content">
                <h2 class="title">{{events[0].title}}</h2>
            </div>
        </div>

        <ion-list class="list">
        	<ion-item class="item item-thumbnail-left" ng-repeat="event in events" href="#/app/event/{{event.objectId}}">
                <img src="{{event.image.url}}">
                <h2>{{event.title}}</h2>
                <p>{{event.description}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

