<ion-view view-title="Events @ Fort Work" align-title="left">
    <div class="bar bar-subheader">
        <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
        </label>
    </div>
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="has-header has-subheader">
    <div class="card stable-bg ink ink-dark"></div>
        <ion-list class="list item card-item in done gray">
        	<ion-item class="card stable-bg ink ink-dark" ng-repeat="event in events" ui-sref="app.event({eventId: event.objectId })">
                <div class="hero has-mask" style="background-image: url('{{event.image.url}}')">
                    <div class="content meta">
                        <h3>{{event.title}}</h3>
                        <p class="date">{{event.date}}</p>
                    </div>
                 </div> 
                 <div class="content meta double-padding">
                    <p>{{event.venue}}</p>
                    <p class="description">{{event.description}}</p>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

