<ion-view view-title="Edit Profile">
	<ion-content ng-class="{expanded:$scope.isExpanded}">
		<div class="list">
			<label class="item item-input">
				<div class="item-thumbnail-left" style="background-image: url('img/daenerys.jpg');"></div>
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">Name</span>
		    <input type="text" placeholder="Name">
		  </label>
		  <label class="item item-input item-floating-label">
				<span class="input-label">Title</span>
		    <input type="text" placeholder="Title">
		  </label>
		  <label class="item item-input item-floating-label">
				<span class="input-label">Description</span>
		    <textarea placeholder="Description"></textarea>
		  </label>
		  <label class="item item-input item-floating-label">
				<span class="input-label">geoffreybyers.com</span>
		    <input type="text" placeholder="geoffreybyers.com">
		  </label>
		  <label class="item item-input item-floating-label">
				<span class="input-label">geoffrey@geoffreybyers.com</span>
		    <input type="text" placeholder="geoffrey@geoffreybyers.com">
		  </label>
		  <label class="item item-input item-floating-label">
				<span class="input-label">Geoffrey Byers</span>
		    <input type="text" placeholder="Geoffrey Byers">
		  </label>
		  <label class="item item-input item-floating-label">
				<span class="input-label">@geoffreybyers</span>
		    <input type="text" placeholder="@geoffreybyers">
		  </label>
		  <label class="item item-input item-floating-label">
				<span class="input-label">Geoffrey Byers</span>
		    <input type="text" placeholder="Geoffrey Byers">
		  </label>
		  <label class="item item-input item-floating-label">
				<span class="input-label">@geoffreywbyers</span>
		    <input type="text" placeholder="@geoffreywbyers">
		  </label>
		  <div style="float: right;">
			  <button class="button button-clear">Save</button>
			  <button class="button button-clear">Cancel</button>
			</div>
		</div>
	</ion-content>
</ion-view>