<ion-view view-title="{{title}}" align-title="left" ng-model="events">
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="has-header">
        <div class="hero has-mask" style="background-image: url('{{event.image.url}}')">
        	<div class="content">
                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-heart pull-right text-white"></button>
                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-images pull-right text-white"></button>
                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-map pull-right text-white"></button>
            </div>
            </div>
            <div class="mid-bar dark-bg z1 padding">
                <h3>{{event.title}}</h3>
                <p>$1,530 USD</p>
            </div>		
            <div class="content double-padding">
                <p class="text-muted">
                    {{event.description}}
                </p>
            </div>
            <div class="bar bar-footer bar-dark">
                <div class="title" style="text-align: left;">Grab some tickets</div>
                <div class="buttons buttons-right">
                    <button class="button button-assertive-900 button-fab">
                        <img src="../img/ecommerce_ticket.svg" width="50%" style="margin-top: 25%;">
                    </button>
                </div>
            </div>
    </ion-content>
</ion-view>
        