<ion-view view-title="Event List">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="#/app/singlePost" class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Event Title</h2>
                    <p>description</p>
                </a>
                <a href="#/app/singlePost" class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Event Title</h2>
                    <p>description</p>
                </a>
                <a href="#/app/singlePost" class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Event Title</h2>
                    <p>description</p>
                </a>
                <a href="#/app/singlePost" class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Event Title</h2>
                    <p>description</p>
                </a>
                <a href="#/app/singlePost" class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Event Title</h2>
                    <p>description</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>

