<ion-view view-title="Event List" align-title="left">
    <ion-content class="scroll-content ionic-scroll has-header">
        <div class="list animate-fade-slide-in-right">
            <a class="item item-thumbnail-left waves-effect waves-button waves-dark in done" href="#" style="-webkit-transition: 0.51s; transition: 0.51s;">
              <img src="img/material1.jpg">
              <h2>Title</h2>
              <p>Description</p>
            </a>
        </div>
    </ion-content>
</ion-view>


