<ion-view view-title="Event List">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="#/app/singlePost" class="item item-thumbnail-left">
                    <img src="img/material1.jpg">
                    <h2>Event Title</h2>
                    <p>description</p>
                </a>
                <a href="#/app/singlePost" class="item item-thumbnail-left">
                    <img src="img/material2.jpg">
                    <h2>Event Title</h2>
                    <p>description</p>
                </a>
                <a href="#/app/singlePost" class="item item-thumbnail-left">
                    <img src="img/material3.jpg">
                    <h2>Event Title</h2>
                    <p>description</p>
                </a>
                <a href="#/app/singlePost" class="item item-thumbnail-left">
                    <img src="img/material4.jpg">
                    <h2>Event Title</h2>
                    <p>description</p>
                </a>
                <a href="#/app/singlePost" class="item item-thumbnail-left">
                    <img src="img/material1.jpg">
                    <h2>Event Title</h2>
                    <p>description</p>
                </a>
                <a href="#/app/singlePost" class="item item-thumbnail-left">
                    <img src="img/material2.jpg">
                    <h2>Event Title</h2>
                    <p>description</p>
                </a>
                <a href="#/app/singlePost" class="item item-thumbnail-left">
                    <img src="img/material3.jpg">
                    <h2>Event Title</h2>
                    <p>description</p>
                </a>
                <a href="#/app/singlePost" class="item item-thumbnail-left">
                    <img src="img/material4.jpg">
                    <h2>Event Title</h2>
                    <p>description</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>

