<ion-view view-title="Login" align-title="left">
    <!--<ion-content style="background: url(img/splash.jpg) center; background-size: cover;">-->
    <ion-content content-scroll="false" style="background-color: #ED3424;" >  

        <div class="section-middle">
            <div class="login" >
                <div class="flat">
                    <div class="content">
                        <div class="app-icon"></div>
                    </div>
                </div>
                <div class="row row-center">
                    <div class="col col-center">
                        <h4 class="center-text text signin-text">Work for yourself, not by yourself.</h4>
                    </div>
                </div>
                <div class="col col-80 col-offset-10">
                    <button class="button button-block button-signin button-large icon-left ion-social-facebook button-light" ng-click="fbLogin()">Sign in with Facebook</button>
                </div>
                <div class="col col-80 col-offset-10">
                    <button ui-sref="app.profile" class="button button-block button-signin button-large icon-left ion-social-twitter button-light">Sign in with Twitter</button>
                </div>
        </div>
    </ion-content>
</ion-view>
