<ion-view view-title="Login" align-title="left">
    <!--<ion-content style="background: url(img/splash.jpg) center; background-size: cover;">-->
    <ion-content style="background-color: #ED3424;">
        <div class="hero no-header flat">
            <div class="content padding">
                <div class="app-icon"></div>
            </div>
        </div>
        <div class="row row-center">
            <div class="col col-center">
                <h4 class="center-text text signin-text">Work for yourself, not by yourself.</h4>
            </div>
        </div>
        <div class="col col-80 col-offset-10">
            <button class="button button-block button-signin button-large icon-left ion-social-twitter button-light">Sign in with Twitter</button>
        </div>
        <div class="col col-80 col-offset-10">
            <button class="button button-block button-signin button-large icon-left ion-social-facebook button-light" ng-click="fbLogin()">Sign in with Facebook</button>
        </div>
 
        <!--<div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900" ng-click="fbLogin()">Facebook</button>
        </div>-->
    </ion-content>
</ion-view>
