<ion-view view-title="policy">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="content double-padding">
            <h1 class="positive">Safe Place Policy</h4>
            <p class="text-muted">Dallas Fort Work (September 2015)</p>
            <p>Dallas Fort Work is dedicated to providing a respectful experience for everyone. All Dallas Fort Work events, operations, staff, members and guests agree to follow a Safe Place Policy that informs how we interact with each other in the coworking space, and seeks to <strong>prevent harassment, abuse and disruptive hostility</strong>.</p>
            <p><strong>We actively reject harassment</strong>. Dallas Fort Work holds itself to the <a href="http://www.dallasfortwork.com/2015/03/21/pledge-of-neutrality/">“Pledge of Neutrality”</a> and holds our staff, members, and guests to the agreement below <strong>with the goal of creating a welcoming work and social environment</strong>. People violating these rules may be expelled from the space or an event.
            <p>We pledge to refrain from:</p>
            <h3 class="outline padding balanced inline img-rounded">Verbal</h3>
            <ul>
                <li>Deliberate verbal or physical intimidation;</li>
                <li>Offensive verbal comments;</li>
                <li>Hate speech or disparagement against any protected class including (race, color, religion, native origin, age, sex, sexual orientation, parenthood status, citizenship, familial status, disability status, veteran status, occupation or appearance);</li>
                <li>Hostile discouragement or disparagement;</li>
            </ul>
            <h3 class="outline padding balanced inline img-rounded">Sexual</h3>
            <ul>
                <li>Unwelcome sexual attention;</li>
                <li>Unwelcome physical contact;</li>
            </ul>
            <h3 class="outline padding balanced inline img-rounded">Physical Space</h3>
            <ul>
                <li>Stalking, following and undesired accompanying;</li>
                <li>Entering or occupying private spaces without permission;</li>
                <li>Disruption of meetings, business transactions, talks or events;</li>
                <li>Destruction or theft of property.</li>
                <li>Photography or recording without consent;</li>
            </ul>
            <p>Contact Oren Salomon (Owner) with any issues that arise, email: oren@dallasfortwork.com</p>
            <p>*This policy is based on Cowork Buffalo’s with their permission.</p>
        </div>
    </ion-content>
</ion-view>
