<ion-view view-title="Profile">
    <ion-nav-buttons side="secondary">
        <a class="button button-clear" ui-sref="app.edit-profile">Edit</a>
    </ion-nav-buttons>
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">Geoffrey Byers</a></h3>
                <h4>UX Designer</h4>
            </div>
        </div>
        <div>
            <p>Designer, researcher, maker, hacker, nomad, diesel geek, swimmer // Alum @Siemens, @NASA, @SCAD</p>
        </div>
        <div class="list">
          <a class="item item-icon-left" href="#">
            <i class="icon ion-link"></i>
            geoffreybyers.com
          </a>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-email"></i>
            geoffrey@geoffreybyers.com
          </a>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-social-linkedin"></i>
            Geoffrey Byers
          </a>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-social-twitter"></i>
            @geoffreybyers
          </a>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-social-facebook"></i>
            Geoffrey Byers
          </a>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-social-instagram"></i>
            @geoffreywbyers
          </a>
        </div>
    </ion-content>
</ion-view>