<ion-view view-title="Profile" hide-back-button="true" hide-nav-bar="false">
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-edit" ui-sref="app.edit-profile"></button>
    </ion-nav-buttons>
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/splash.jpg');">
            <div class="overlay"></div>
            <div class="content">
                <div class="avatar" style="background-image: url('img/anne.png');"></div>
                <h3><a class="light">Geoffrey Byers</a></h3>
                <h4>UX Designer</h4>
            </div>
        </div>
        <div class="content meta double-padding">
           <h5 class="heading uppercase">BIO</h5>
            <p class="nopadding bold">Designer, researcher, maker, hacker, nomad, diesel geek, swimmer // Alum @Siemens, @NASA, @SCAD. I like telling stories</p>
       <h5 class="heading uppercase">CONNECT</h5>
        <div class="list">
          <a class="item item-icon-left" href="#">
            <i class="icon ion-link"></i>
            geoffreybyers.com
          </a>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-email"></i>
            geoffrey@geoffreybyers.com
          </a>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-social-linkedin"></i>
            Geoffrey Byers
          </a>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-social-twitter"></i>
            @geoffreybyers
          </a>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-social-facebook"></i>
            Geoffrey Byers
          </a>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-social-instagram"></i>
            @geoffreywbyers
          </a>
        </div>
        </div>
    </ion-content>
</ion-view>
