/* Anne's Less */

@red : #ED3424;

html {
	body {
		.nopadding {
			padding: 0px 0px 0px 16px;
			margin: 10px 0px 24px 0px;
		}
		.bold {
			font-weight: 500;
		}
		.item-icon-left .icon {
			color: #d5d5d5;
		}
		.item-icon-left {
			padding-left: 80px;
		}
		.menu-open .bar.bar-header.expanded {
			background-color: @red !important;
		}
		.has-subheader {
			top: 78px;
		}
		.stable-bg {
			background-color: #fff;
		}
		.bar {
			box-shadow: none;
		}
		.hero {
			position: relative;
			.overlay {
				position: absolute;
				top: 0px;
				left: 0px;
				right: 0px;
				bottom: 0px;
				height: 100%;
				width: 100%;
				z-index: 0;
				background: #000;
				opacity: .6;
			}
		}
		.gray {
			background-color: #eee;
		}
		.padding {
			padding: 16px 49px 16px 16px !important;
		}
		a.item-content {
			padding: 0px !important;
			&.padding {
				padding: 16px 49px 16px 16px !important;
			}
		}
		.bar-assertive-900 {
			background-color: @red;
		}
		.button-assertive-900 {
			background-color: @red !important;
		}
		.uppercase {
			text-transform: uppercase;
		}
		clear {
			clear: both;
		}
		.bar-dark {
			background-color: #000!important;
		}
		.title {
			padding-left: 8px;
		}
		.meta {
			padding-left: 16px;
			.button-stable {
				margin-left: 130px;
			}
			h3 {
				font-size: 24px;
				line-height: 32px;
				text-align: left;
			}
			p {
				font-size: 16px;
			    font-weight: 700;
			    text-align: left;
			    line-height: 25px;
			    color: #000;
			}
			h2 {
				font-size: 34px;
				margin-top: 0px;
				float: left;
			}
			.date {
				color: #989A9A;
				margin-bottom: 13px;
			}
			.heading {
				color: @red;
				font-size: 12px;
				margin-bottom: 0px;
				margin-top: 16px;
			}
			.description {
				color: #989A9A;
			}
			.margin-left {
				margin-left: 48px !important;
			}
		}
	}
}